body{
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px
}
.container {
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 300px 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  display: block;
}
